body {
  background-color: #0b132b;
  color: #ffffff;
}

.app {
  background-color: #0b132b;
  color: #ffffff;
}

.intent {
  padding: 8px 8px;
}

.intent:nth-child(even) {
  background-color: #1c2541;
}

.intent:nth-child(odd) {
  background-color: #3a506b;
}

.buttons-container {
  width: 100%;
  display: flex;
}

.buttons-container > * + * {
  margin-left: 6px;
}

.button {
  cursor: pointer;
  background: #5bc0be;
  border-radius: 6px;
  border: 2px solid #ffffff;
  font-size: 16px;
  font-family: arial;
}

.button--large {
  padding: 8px;
}

.input-text {
  min-width: 300px;
}

.slot-elicitation-container {
  margin-bottom: 8px;
}
 
.input-container {
  display: flex;
}

.input-container > input {
  flex-grow: 1;
}
